html{
	height: 100%;
}
body {
	min-height: 100%;
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 65px;
}

main{
	padding-bottom: 100px;
}

label {
	font-size: 20px;
}

.panel {
	margin-bottom: 0px;
}

.container-fluid {
	padding-left: 10%;
	padding-right: 10%;
}

a:hover{
	text-decoration: none;
}

.forbit-submit-mask{
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	display: none;
}

.forbit-submit-mask p{
		position  : absolute;
		top       : 50%;
		left      : 50%;
		transform : translate(-50%,-50%);
		text-align: center;
		color :#fff;
		font-size: 40px;
		font-weight: bold;
}

.forbit-submit-mask a{
	color: cyan;
}

.forbit-submit-mask a:hover{
	cursor: pointer;
}
